.container {
    margin: 0 auto;
    width: 94%;
    position: relative;
    overflow: hidden;
}

.icons i {
    font-size: 55px;
    color: #fff;
    transition: 1s;
    border-radius: 7px;
    cursor: pointer;
    &:hover {
        color: #000;
    }

}

.icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 97%;
    top: 45%;
    left: 20px;
}

.carousel {
    display: flex;
    gap: 1rem;

    img {
        width: 700px;
        height: 600px;
    }
}